/* Game Stats */
.game-stat {
  display: flex;
  flex-direction: column;
}

.stat-value {
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--color-text-secondary);
  font-weight: bold;
}

.stat-label {
  font-family: var(--font-secondary);
  font-weight: 700;
  margin-bottom: 5px;
}
